@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


html {
    height: 100%;
    width: 100%;
}

/*homepage body*/ 
.homepage{
    background-color: black;
    margin: 0;
}
/*website name in homepage*/
.name a{
    position: fixed;
    top: 5%;
    left: 3%;
    font-size: 1.5vw;
    color: white;
    text-shadow: 1px 1px 4px black, -1px -1px 4px black, -1px 1px 4px black, 1px -1px 4px black;
    text-decoration: none;
}

.name a:hover {
    text-shadow: 1px 1px 10px #ff6a00, -1px 1px 10px #ff6a00, -1px -1px 10px #ff6a00, 1px -1px 10px #ff6a00;
}

.message {
    position: absolute;
    top: 50%;
    left: 48%;
    color: white;
    transform: translate(-50%, -50%);
    font-family: 'Irish Grover', system-ui;
    text-align: center;
    text-shadow: 1px 1px 4px black, -1px -1px 4px black, -1px 1px 4px black, 1px -1px 4px black;
    font-size: 5vw;
    
}



.image {
    width: 100%;
    position: absolute;
}

.image img {
    width: 100%;
    height: auto;
    filter: contrast(120%) brightness(100%) saturate(1.5) blur(5px);
}



#menu a {
    color: white;
    font-size: 1.5vw;
    padding-right: 20px;
    text-decoration: none;
}

#menu p {
    text-align: right;
    padding-right: 20px;
    padding-top: 70px;
    filter: none;
}

#menu p:hover {
    text-shadow: 2px 2px 20px #ffd800, -2px 2px 20px #ffd800, -2px -2px 20px #ffd800, 2px -2px 20px #ffd800;
}


#menu {
    backdrop-filter: blur(10px);
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
}


.menu_button {
    position: fixed;
    top: 3%;
    right: 2%;
    color: white;
    background-color: transparent;
    border: none;
    filter: drop-shadow(0.35rem 0.35rem 0.2rem rgb(0, 0, 0, 0.50));
}

button img:hover {
    filter: drop-shadow(0.4rem 0.4rem 0.2rem rgb(255, 106, 0, 0.60))
}

.X {
    position: fixed;
    top: 4%;
    right: 3%;
    color: white;
    background-color: transparent;
    border: none;   
}

 
/*audio*/
.audio_container{
    position: absolute;
    top: 80%;
    left: 3%;
}

/*share.html styles*/

.sharepage {
    background-color: #3f3f3f;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #c5864f;
    display: block;
    margin: 0;
}