@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


html {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    margin: 0;
}

.name{
    position: absolute;
    top: 5%;
    left: 2%;
    color: white;
}


.message {
    position: absolute;
    top: 50%;
    left: 47%;
    color: white;
    transform: translate(-50%, -50%);
    font-family: 'Irish Grover', system-ui;
    text-align: center;
    text-shadow: 1px 1px 4px black, -1px -1px 4px black, -1px 1px 4px black, 1px -1px 4px black;
    font-size: 5vw;
    
}



.image {
    width: 100%;
    position: absolute;
}

.image img {
    width: 100%;
    height: auto; 
    filter: contrast(120%) brightness(100%) saturate(1.5);
}



#menu a {
    color: white;
    font-size: 1.5vw;
    padding-right: 20px;
    text-decoration: none;
}

#menu p {
    text-align: right;
    padding-right: 20px;
    padding-top: 60px;
    filter: none;
}

#menu p:hover {
    text-shadow: 2px 2px 20px rgb(255, 106, 0), -2px 2px 20px rgb(255, 106, 0), -2px -2px 20px rgb(255, 106, 0), 2px -2px 20px rgb(255, 106, 0);
}


#menu {
    backdrop-filter: blur(10px);
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
}


button {
    position: fixed;
    top: 10px;
    right: 20px;
    color: white;
    background-color: transparent;
    border: none;
    filter: drop-shadow(0.35rem 0.35rem 0.2rem rgb(0, 0, 0, 0.50));
}
   

.X img {
    position: fixed;
    top: 10px;
    right: 30px;
    color: white;
    background-color: transparent;
    border: none;   
}

 
