@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


html {
    height: 100%;
    width: 100%;
}

/*homepage body*/ 
.homepage{
    background-color: black;
    margin: 0;
}
/*website name in homepage*/
.name a{
    position: fixed;
    top: 5%;
    left: 4%;
    font-size: 2.5vw;
    font-family: 'Irish Grover', system-ui;
    color: white;
    text-shadow: 1px 1px 4px black, -1px -1px 4px black, -1px 1px 4px black, 1px -1px 4px black;
    text-decoration: none;
}

.name a:hover {
    text-shadow: 1px 1px 10px #ff6a00, -1px 1px 10px #ff6a00, -1px -1px 10px #ff6a00, 1px -1px 10px #ff6a00;
}

.name img {
    position: fixed;
    top: 2%;
    left: 6%;
    width: 5%;
    height: auto;
}

.message {
    position: absolute;
    top: 50%;
    left: 52%;
    color: white;
    transform: translate(-50%, -50%);
    font-family: 'Irish Grover', system-ui;
    text-align: center;
    text-shadow: 1px 1px 4px black, -1px -1px 4px black, -1px 1px 4px black, 1px -1px 4px black;
    font-size: 5vw;
    
}



.image {
    width: 100%;
    position: absolute;
}

.image img {
    width: 100%;
    height: auto;
    filter: contrast(120%) brightness(100%) saturate(1.5) blur(5px);
}

/*styling the menu*/

#menu a {
    color: #ffffff;
    font-size: 2vw;
    padding-right: 20px;
    text-decoration: none;
   
}

.menu_container {
    padding-top: 3%;   
}

#menu p {
    text-align: right;
    padding-right: 20px;
    padding-top: 3%;
}

#menu p:hover {
    text-shadow: 2px 2px 20px #ffd800, -2px 2px 20px #ffd800, -2px -2px 20px #ffd800, 2px -2px 20px #ffd800;
}


#menu {
    backdrop-filter: blur(10px);
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
}



.menu_button {
    position: fixed;
    top: 3%;
    right: 4%;
    color: white;
    background-color: transparent;
    border: none;
    filter: drop-shadow(0.35rem 0.35rem 0.2rem rgb(0, 0, 0, 0.50));
}

button img:hover {
    filter: drop-shadow(0.4rem 0.4rem 0.2rem rgb(255, 106, 0, 0.60))
}

.X {
    position: fixed;
    top: 4%;
    right: 3%;
    color: white;
    background-color: transparent;
    border: none;   
}
/*responsive padding adjustment for different sized screens*/
@media screen and (max-width: 600px) {
    .menu_container {
        padding-top: 12%;
    }
    #menu a {
        font-size: 3vw;
    }
    #menu p {
        padding-top: 3%;
    }
}

 
/*audio*/
.audio_container{
    position: absolute;
    top: 80%;
    left: 3%;
}


/*------------------------------------------------------------------------------------*/

/*share.html styles*/

.sharepage {
    background-color: #000000;
    margin: 0;
}

.share_header {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #b95d20;
    background: linear-gradient(#ffb950 10%,#b95d20 70%, #000000);  
    width: 100%;
    height: 130px;
}

/*making the hamburger menu stick with the header*/
.header_menu {
    position: relative;
    width: 50%;
    height: 130px;
}

.header_menu .menu_button {
    position: relative;
}


/*website name in sharepage*/

.header_name {
    width: 40%;
    height: 130px;
    position: relative;
}

.header_name img {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 20%;
}

.header_name a{
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 30px;
    font-family: 'Irish Grover', system-ui;
    color: #ffffff;
    text-shadow: 1px 1px 4px black, -1px -1px 4px black, -1px 1px 4px black, 1px -1px 4px black;
    text-decoration: none;
}

.header_name a:hover {
    text-shadow: 1px 1px 10px #ff6a00, -1px 1px 10px #ff6a00, -1px -1px 10px #ff6a00, 1px -1px 10px #ff6a00;
}

/*columns*/

.share_row {
    padding: 5%;
}

.share_row :after{
    display: table;
    clear: both;
}

.logo_column {
    float: left;
    width: 50%;
    height: 400px;
    box-sizing: border-box;
    border-right: 3px solid #b95d20; 
    border-right-style: inset; 
    color: #ffffff;
}
.logo_column img:hover {
    box-shadow: 1px 1px 10px #ff6a00, -1px 1px 10px #ff6a00, -1px -1px 10px #ff6a00, 1px -1px 10px #ff6a00;
}

.logo_column img {
    width: 70%;
    height: auto;
   /* position: relative;
    background-color: transparent;*/
}

.share_column {
    float: right;
    width: 50%;
    height: 400px;
    box-sizing: border-box;
    border-left: 3px solid #b95d20;
    border-left-style: outset;  
}

.share_column a {
    text-decoration: none;
    color: #ffffff;
    padding-left : 10%;
}

/*responsive columns*/
@media screen and (max-width: 600px) {
    .share_column {
      width: 100%;
      border-top: 3px solid #b95d20;
      border-top-style: outset;
      border-left: none; 
    }

    .logo_column {
        width: 100%;
        border-bottom: 3px solid #b95d20;
        border-right-style: inset;
        border-right: none;
    }

    .logo_column img {
        position: relative;
        top: 10%;
        left: 15%;
    }

    .share_row {
        padding: 10%;
    }

    .share_column a {
        padding-top: 20%;
        padding-left: 0;
    }
  }